* {
    box-sizing: border-box;
    transition: all .1s ease-in;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(/hw10_extra/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(/hw10_extra/fonts/Gilroy-Medium.woff2) format("woff2");
}

li a, .titl {
    font-family: 'Gilroy-Bold';
}

html {
    scroll-behavior: smooth;
}

.page__details {
    margin: 0 auto;
    width: 1440px;
}

.header__nav {
    width: 970px;
    margin: 0 auto;
    border-bottom: 1px solid #828282;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

li a {
    text-decoration: none;
    color: #828282;

    line-height: 25px;
    letter-spacing: 0.02em;
}

li a:hover {
    color: #070707;
}

.page__first-screen {

    width: 970px;
    margin: 0 auto;
}

.first-screen__title {
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    margin: 12px 0 50px;
}

.first-screen__img {
    height: 387px;
}

.page__about-me, .page__portfolio {
    background-color: #F6F6F6;
    padding: 100px 0;
    width: 1440px;
}

.about-me__title {
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
}

.about-me__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    margin-top: 30px;
}

.page__skills {
    margin: 0 auto;
    width: 970px;
    padding: 100px 0;
}

.skills__programs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.skills__text {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    padding-top: 20px;
}
.skills__title, .portfolio__title, .footer__title {
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.skills__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 170px;
    height: 230px;
}

.skills__icon-name {
    padding-top: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
    padding-bottom: 60px;
}

.skills__icon-stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.skills__figma {
    padding-bottom: 80px;
}

.portfolio__title{
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    padding-bottom: 50px;
}

.page__portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__screen {
    padding-bottom: 40px;
}

.portfolio__link-bottom {
    padding-bottom: 70px;
}

.portfolio__link a {
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio__link, a span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info {
    margin: 100px auto;
}

.footer__title {
    padding-bottom:20px;
}

.footer__subtitle {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    padding-bottom: 60px;
}

.button {
    text-align: center;
}

.send {
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.send:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #070707;
}

.footer__text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    padding: 30px 0 60px;
    margin: 0 auto;
}