.button {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in;
    width: 210px;
    text-decoration: none;
    font-family: "Montserrat_medium";
    font-size: 16px;
    line-height: 160%;
    padding: 20px 0;
        i {
            padding-left: 20px;
            font-size: 18px;
        }
}

.button:hover {
    cursor: url(../img/cursor.png), auto;
}

.header__button {
    position: absolute;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #9C69E2;
    color: #212353;
        i {
            padding-left: 20px;
            color: #9C69E2;
            font-size: 18px;
        }
    
}
.header__button:hover, .footer-button__right:hover {
    background: #9C69E2;
        color: #FFFFFF;
        i {
            color: #FFFFFF;
        }
}

.data-left__button {
    background: #9C69E2;
    border: 1px solid #9C69E2;
    color: #FFFFFF;
}

.data-left__button:hover {
    background: #8A40EE;
    border: 1px solid #8A40EE;
    color: #FFFFFF;
        i {
            color: #FFFFFF;
        }
}

.data-left__button {
    background: #9C69E2;
    border: 1px solid #9C69E2;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: #FFFFFF;
}

.data-left__button:hover {
    background: #8A40EE;
    border: 1px solid #8A40EE;
    color: #FFFFFF;
        i {
            color: #FFFFFF;
        }
}

.footer-button__left {
    background: #F063B8;
    border: 1px solid #F063B8;
    color: #FFFFFF;
}

.footer-button__left:hover {
    background: #EB4BAB;
    border: 1px solid #EB4BAB;
}

.footer-button__right {
    background: #FFFFFF;
    border: 1px solid #9C69E2;
    color: #212353;
        i {
            color: #9C69E2;
        }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 900px) {
    .button{
        width: 180px;
        padding: 15px 0;
    }
}