.footer {
    &-wrapper {
        max-width: 1170px;
        margin: 0 auto;
        padding: 120px 0;
    }
    &-heading {
        display: flex;
    }
    &-title {
        &__sub {
            color: #212353;
            font-size: 40px;
            line-height: 130%;
            font-family: 'Worksans_bold';
            margin: 0 0 20px;
        }
        &__text {
            font-family: 'Montserrat_reg';
            font-size: 18px;
            line-height: 160%;
            color: #4B5D68;
        }
    }
    &-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        max-width: 1170px;
        width: 100%;
        &__left {
            margin-right: 20px;
            position: absolute;
            right: 250px;
        }
        &__right {
            margin-right: 20px;
            position: absolute;
            right: 0px;
        }
    }
    &-contacts {
        padding-right: 200px;
        &__logo {
            padding-bottom: 60px;
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: baseline;
                text-decoration: none;
                p {
                    font-family: 'Montserrat_semibold';
                    padding-left: 20px;
                    color: #212353;
                    font-size: 20px;
                     line-height: 160%;
                }
            }
        }
        &__address {
            max-width: 263px;
            width: 100%;
            font-family: "Montserrat_medium";
            font-size: 16px;
            line-height: 180%;
            color: #212353;
        }
        &__numb {
            max-width: 215px;
            width: 100%;
            font-family: 'Montserrat_reg';
            color: #212353;
            font-size: 16px;
            line-height: 180%;
            letter-spacing: 0.01em;
        }
    }
    &-nav {
        display: flex;
        padding: 100px 0;
        max-width: 1170px;
        width: 100%;
    }
    &-list {
        max-width: 670px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-lists {
        &__links {
            display: flex;
            flex-direction: column;
            a {
                font-family: "Montserrat_reg";
                font-size: 16px;
                line-height: 160%;
                color: #4B5D68;
                text-decoration: none;
                padding-bottom: 10px;
                transition: 0.7s;
            }
            a:hover {
                color: #8A40EE;
                cursor: url(../img/cursor.png), auto;
            }
        }
        &__title {
            font-family: "Montserrat_medium";
            font-size: 16px;
            line-height: 160%;
            display: flex;
            align-items: center;
            color: #212353;
            padding-bottom: 30px;
        }
        &__icons {
            display: flex;
            flex-direction: row;
            gap: 10px;
            a {
                text-decoration: none;
                border-radius: 50%;
                border: 1px solid grey;
                width: 42px;
                height: 42px;
                background-color: grey;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;
                i { 
                    color: white;
                    font-size: 18px;
                }
            }
            a:hover {
                background-color: white;
                border: 1px solid #00ACEE;
                cursor: url(../img/cursor.png), auto;
                i {
                    color:#00ACEE;
                }
            }
        }
    }
    &-rights {
        p {
            font-family: 'Montserrat_light';
            font-size: 12px;
            line-height: 180%;
            letter-spacing: 0.01em;
            color: #212353;
        }
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1200px) {
    .footer-wrapper{
        margin: 20px;
        padding-bottom: 10px;
    }
    .footer-nav {
        padding-bottom: 20px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
    .footer-wrapper {
        padding: 30px 0 30px;
    }
    .footer-heading {
        flex-direction: column;
    }
    .footer-nav {
        flex-direction: column;
        padding: 30px 0 30px;
    }
    .footer-lists__icons {
        flex-direction: column;
    }
    .footer-button {
        flex-direction: column;
        gap: 15px;
    }
    .footer-button__left {
        position: static;
    }
    .footer-button__right {
        position: static;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 880px) {
    .footer-contacts {
        padding-right: 150px;
    }
    .footer-lists__icons {
        flex-direction: column;
    }
    .footer-button__left {
        right: 200px;
    }
}
