.footer {
    background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    &-back {
        background-image: url(../img/footer.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &-wrap {
        padding: 209px 0 234px;
        display: flex;
        justify-content: center;
    }
    &-logo {
        p {
            padding-top: 40px;
            font-family: "Montserrat_Regular";
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
    &-social {
        padding-left: 480px;
        display: flex;
        flex-direction: row;
        gap: 20px;
            a {
                display: flex;
                text-decoration: none;
                width: 40px;
                height: 40px; 
                .navig-circle {
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    i {
                        font-size: 18px;
                        color: white;
                    }
                }
                .navig-circle:hover {
                    background-color: white;
                    i {
                        color: #725cec;
                    }
                }
            }
    }
}