.gallery {
    &-wrap {
        max-width: 1170px;
        padding: 150px auto 50px;
        margin: 0 auto;
        width: 100%;
    }
    &__title {
        div {
            border: 1px solid #2C4058;
            width: 100px;
            height: 0px;
            margin: 100px auto 0;
        }
        p {
            margin-top: 30px;
        }
        font-family: 'Montserrat_Bold';
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #2C4058;
    }
    &__items {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 8px;
        grid-template-areas: "img-1 img-2 img-3"
        "img-1 img-4 img-5";
        position: relative;
        .img1 {
            grid-area: img-1;
        }
        .img2 {
            grid-area: img-2;
        }
        .img3 {
            grid-area: img-3;
        }
        .img4 {
            grid-area: img-4;
        }
        .img5 {
            grid-area: img-5;
        }
    }
    &__item {
        transition: all 2s ease-out;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:relative;
        }
        svg {
            display: none;
            transition: all 2s ease-out;
            opacity: 0;
        }
    }
    &__item:hover {
        cursor: pointer;
        display:inline-block;
        opacity: 0.7;
        position: relative;
        svg {
            position: absolute;
            z-index: 2;
            display: block;
            top: 45%;
            left: 40%;
            opacity: 1;
        }
    }
    &__button { 
        display: flex;
        justify-content: center;        
        margin: 60px auto 100px;
        font-family: 'Montserrat_Regular';
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-decoration: none;
        width: 190px;
        height: 50px;
        transition: 0.5s ease-out;
        p {
            border: 1px solid #2C4058;
            width: 190px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 22px 0 45px;
            transition: 0.5s ease-out;
        }
    }
    &__button:hover  { 
        color: #fff;
        p{
            background-color: #2C4058;
        }
    }
}

.fancybox__container img {
    width: 700px;
    height: auto;
}