* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  src: url("/hw13/assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-family: "OpenSans-Bold";
}
@font-face {
  src: url("/hw13/assets/fonts/raleway/Raleway-Medium.woff2") format("woff2");
  font-family: "Raleway-Medium";
}
@font-face {
  src: url("/hw13/assets/fonts/raleway/Raleway-Regular.woff2") format("woff2");
  font-family: "Raleway-Regular";
  font-weight: 500;
}
@font-face {
  src: url("/hw13/assets/fonts/Roboto-Black.woff2") format("woff2");
  font-family: "Roboto-Black";
}
/* Header */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 121px 0 30px;
}
.team__title {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #898F8F;
}
.team__subtitle {
  color: #FFCC00;
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-transform: uppercase;
}
.team__divider {
  padding: 40px 0 20px;
}

.sahar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sahar__divider {
  width: 85px;
  height: 560px;
  border-right: 1px solid #FFCC00;
  margin-right: 85px;
}
.sahar__desc {
  width: 430px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sahar__desc-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
  padding-bottom: 30px;
}
.sahar__desc-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 45%;
  padding-top: 30px;
  border-bottom: 1px solid #FFCC00;
}
.sahar__desc-subtitle {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #666666;
  padding-bottom: 30px;
}
.sahar__desc-icons {
  padding-bottom: 49px;
}
.sahar__desc-icons a {
  text-decoration: none;
}
.sahar__desc-icons a svg:hover path {
  fill: #FFCC00;
}
.sahar__desc-icons a svg:hover circle {
  stroke: #FFCC00;
}
.sahar__desc-text {
  font-family: "Raleway-Medium";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}
.sahar__desc-decore {
  padding: 20px 0 30px;
}
.sahar__desc-button a {
  width: 118px;
  height: 24px;
  border: 1px solid #FFCC00;
  font-family: "Opensans-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #666666;
  text-decoration: none;
}
.sahar__desc-button:hover a {
  color: white;
  background-color: #FFCC00;
}