@font-face {
  font-family: "Montserrat_bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat_light";
  src: url(../fonts/Montserrat-Light.woff2);
}

@font-face {
  font-family: "Montserrat_medium";
  src: url(../fonts/Montserrat-Medium.woff2);
}

@font-face {
  font-family: "Montserrat_reg";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Montserrat_semibold";
  src: url(../fonts/Montserrat-Semibold.woff2);
}

@font-face {
  font-family: "Worksans_bold";
  src: url(../fonts/WorkSans-Bold.woff2);
}

@font-face {
  font-family: "Worksans";
  src: url(../fonts/WorkSans-Regular.woff2);
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s ease 0s;
}

.button {
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
  width: 210px;
  text-decoration: none;
  font-family: "Montserrat_medium";
  font-size: 16px;
  line-height: 160%;
  padding: 20px 0;
}

.button i {
  padding-left: 20px;
  font-size: 18px;
}

.button:hover {
  cursor: url(../img/cursor.png), auto;
}

.header__button {
  position: absolute;
  right: 0;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  color: #212353;
}

.header__button i {
  padding-left: 20px;
  color: #9C69E2;
  font-size: 18px;
}

.header__button:hover,
.footer-button__right:hover {
  background: #9C69E2;
  color: #FFFFFF;
}

.header__button:hover i,
.footer-button__right:hover i {
  color: #FFFFFF;
}

.data-left__button {
  background: #9C69E2;
  border: 1px solid #9C69E2;
  color: #FFFFFF;
}

.data-left__button:hover {
  background: #8A40EE;
  border: 1px solid #8A40EE;
  color: #FFFFFF;
}

.data-left__button:hover i {
  color: #FFFFFF;
}

.data-left__button {
  background: #9C69E2;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #FFFFFF;
}

.data-left__button:hover {
  background: #8A40EE;
  border: 1px solid #8A40EE;
  color: #FFFFFF;
}

.data-left__button:hover i {
  color: #FFFFFF;
}

.footer-button__left {
  background: #F063B8;
  border: 1px solid #F063B8;
  color: #FFFFFF;
}

.footer-button__left:hover {
  background: #EB4BAB;
  border: 1px solid #EB4BAB;
}

.footer-button__right {
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  color: #212353;
}

.footer-button__right i {
  color: #9C69E2;
}

.header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  position: relative;
}

.header__burger {
  display: none;
}

.header__nav {
  margin: 0 0px 0 80px;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.header__nav ul li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.header__nav ul li a {
  text-decoration: none;
  font-family: "Montserrat_medium";
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  transition: 0.7s;
  cursor: url(../img/cursor.png);
}

.header__nav ul li a:hover {
  color: #8A40EE;
  cursor: url(../img/cursor.png), auto;
}

.data-wrapper {
  max-width: 1170px;
  background-image: url(../img/data_img.png);
  background-repeat: no-repeat;
  background-size: 770px 407px;
  background-position: bottom right;
  margin: 0 auto 100px;
}

.data-left__title {
  font-family: "Worksans_bold";
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  max-width: 601px;
  width: 100%;
}

.data-left__text {
  font-family: "Montserrat_medium";
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  max-width: 344px;
  width: 100%;
  padding-bottom: 50px;
}

.level {
  scroll-margin-top: 10px;
}

.level-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FDE8F5;
  border-radius: 50px;
}

.level-right {
  padding: 0 70px 0 130px;
}

.level-right__title {
  font-family: "Worksans_bold";
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.level-right__text {
  font-family: "Montserrat_medium";
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
}

.level__img {
  padding: 75px 0 75px 20px;
  margin: 0;
}

.level__img img {
  width: 450px;
}

.test {
  display: flex;
  justify-content: center;
}

.test-wrapper {
  max-width: 1170px;
  width: 100%;
  background: #CCDDFF;
  border-radius: 50px;
  background-image: url(../img/testi_back_left.png);
  background-repeat: no-repeat;
}

.test-name {
  background-image: url(../img/testi_back_right.png);
  background-repeat: no-repeat;
  background-position: right;
}

.test-name .title {
  font-family: "Worksans_bold";
  font-size: 40px;
  line-height: 130%;
  color: #4B5D68;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.test-review {
  display: flex;
  justify-content: center;
}

.test-review__card {
  display: flex;
  max-width: 465px;
  width: 100%;
  background-color: white;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-bottom: 70px;
}

.test-review__card__gap {
  margin-right: 100px;
}

.test-review__img img {
  width: 90px;
  border-radius: 45px;
  margin: 50px 15px 0 30px;
}

.test-review__desc {
  padding: 50px 30px 50px 0;
}

.test-review__title {
  font-family: "Montserrat_medium";
  color: #212353;
  font-size: 16px;
  line-height: 160%;
  margin: 0 0 2px;
}

.test-review__link {
  font-family: "Montserrat_medium";
  color: #9C69E2;
  text-decoration: none;
  font-size: 14px;
  line-height: 160%;
}

.test-review__link:hover {
  cursor: url(../img/cursor.png), auto;
}

.test-review__text {
  font-family: "Montserrat_reg";
  color: #4B5D68;
  font-size: 16px;
  line-height: 160%;
  margin: 19px 0 0;
}

.features-wrapper {
  padding: 100px 0;
}

.features-header__title {
  font-family: "Worksans_bold";
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  text-align: center;
}

.features-header__subtitle {
  max-width: 638px;
  font-family: "Montserrat_medium";
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  padding: 50px 0 80px;
  text-align: center;
  margin: 0 auto;
}

.features-elem-wrap {
  margin-left: 170px;
}

.features-elements {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  gap: 50px 200px;
}

.features-elem {
  display: flex;
  align-items: center;
  background-image: url(../img/feat_back_1.png);
}

.features-card {
  border-radius: 50px;
  max-width: 400px;
  width: 100%;
  height: 400px;
  position: relative;
}

.features-card__first {
  background: #F0FAF9;
  background-image: url(../img/feat_back_1.png);
  background-repeat: no-repeat;
  background-position: top 20px right 50px;
}

.features-card__first::after {
  content: url(../img/features_1.png);
  position: absolute;
  top: 110px;
  left: -170px;
}

.features-card__second {
  background: #F6F0FD;
  background-image: url(../img/feat_back_2.png);
  background-repeat: no-repeat;
  background-position: bottom 20px right 20px;
}

.features-card__second::after {
  content: url(../img/features_2.png);
  position: absolute;
  top: 110px;
  left: -170px;
}

.features-card__third {
  background: #FEF0F8;
  background-image: url(../img/feat_back_3.png);
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
}

.features-card__third::after {
  content: url(../img/features_3.png);
  position: absolute;
  top: 110px;
  left: -170px;
}

.features-card__fourth {
  background: #EAF6FC;
  background-image: url(../img/feat_back_4.png);
  background-repeat: no-repeat;
  background-position: top 20px left 15px;
}

.features-card__fourth::after {
  content: url(../img/features_4.png);
  position: absolute;
  top: 110px;
  left: -170px;
}

.features-card__title {
  font-family: "Worksans";
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  margin: 62px 0 0 100px;
}

.features-card__text {
  margin: 0 70px 0 100px;
  font-family: "Montserrat_reg";
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  padding: 20px 0 40px;
}

.features-card__link {
  margin-left: 100px;
  position: absolute;
  bottom: 62px;
  font-size: 16px;
  line-height: 160%;
  font-family: "Montserrat_bold";
}

.features-card__link a {
  color: #212353;
  text-decoration: none;
}

.features-card__link a:hover {
  cursor: url(../img/cursor.png), auto;
}

.footer-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;
}

.footer-heading {
  display: flex;
}

.footer-title__sub {
  color: #212353;
  font-size: 40px;
  line-height: 130%;
  font-family: "Worksans_bold";
  margin: 0 0 20px;
}

.footer-title__text {
  font-family: "Montserrat_reg";
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.footer-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: 1170px;
  width: 100%;
}

.footer-button__left {
  margin-right: 20px;
  position: absolute;
  right: 250px;
}

.footer-button__right {
  margin-right: 20px;
  position: absolute;
  right: 0px;
}

.footer-contacts {
  padding-right: 200px;
}

.footer-contacts__logo {
  padding-bottom: 60px;
}

.footer-contacts__logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  text-decoration: none;
}

.footer-contacts__logo a p {
  font-family: "Montserrat_semibold";
  padding-left: 20px;
  color: #212353;
  font-size: 20px;
  line-height: 160%;
}

.footer-contacts__address {
  max-width: 263px;
  width: 100%;
  font-family: "Montserrat_medium";
  font-size: 16px;
  line-height: 180%;
  color: #212353;
}

.footer-contacts__numb {
  max-width: 215px;
  width: 100%;
  font-family: "Montserrat_reg";
  color: #212353;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

.footer-nav {
  display: flex;
  padding: 100px 0;
  max-width: 1170px;
  width: 100%;
}

.footer-list {
  max-width: 670px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-lists__links {
  display: flex;
  flex-direction: column;
}

.footer-lists__links a {
  font-family: "Montserrat_reg";
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  text-decoration: none;
  padding-bottom: 10px;
  transition: 0.7s;
}

.footer-lists__links a:hover {
  color: #8A40EE;
  cursor: url(../img/cursor.png), auto;
}

.footer-lists__title {
  font-family: "Montserrat_medium";
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  padding-bottom: 30px;
}

.footer-lists__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-lists__icons a {
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid grey;
  width: 42px;
  height: 42px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.footer-lists__icons a i {
  color: white;
  font-size: 18px;
}

.footer-lists__icons a:hover {
  background-color: white;
  border: 1px solid #00ACEE;
  cursor: url(../img/cursor.png), auto;
}

.footer-lists__icons a:hover i {
  color: #00ACEE;
}

.footer-rights p {
  font-family: "Montserrat_light";
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 900px) {
  .button {
    width: 180px;
    padding: 15px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .header-wrapper {
    padding: 0 20px;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 4;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__logo {
    z-index: 3;
  }

  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.7s ease 0s;
    z-index: 2;
  }

  .header__nav.active {
    top: 0;
  }

  .header__nav ul {
    margin-top: 130px;
    padding-left: 0;
    text-align: center;
    flex-direction: column;
    gap: 45px;
  }

  .header__nav ul li a {
    font-size: 25px;
  }

  .header__button {
    position: static;
    margin: 0 auto;
  }

  body.lock {
    overflow: hidden;
  }

  .features-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .features-header__subtitle {
    padding: 40px 10px 190px 10px;
  }

  .features-elements {
    grid-template-columns: 300px;
    gap: 170px;
  }

  .features-elem-wrap {
    margin-left: 0;
  }

  .features-card {
    height: 340px;
  }

  .features-card__link {
    bottom: 30px;
  }

  .features-card__first:after,
  .features-card__second:after,
  .features-card__third:after,
  .features-card__fourth:after {
    top: -150px;
    left: 30px;
  }

  .features-card__title {
    margin: 50px 0 0;
    text-align: center;
  }

  .features-card__text {
    margin: 20px;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1440px) {
  .header-wrapper {
    padding: 0 20px 0 20px;
  }

  .header__button {
    right: 20px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 620px) {
  .data-left__title {
    font-size: 53px;
    margin-bottom: 30px;
  }

  .data-left__text {
    margin-bottom: 60px;
  }

  .data-wrapper {
    margin: 20px;
    background-size: 280px 150px;
    background-position: bottom 30px right 30px;
  }

  .data-left__button {
    margin: 80px 0 160px 0;
  }
}

@media only screen and (min-device-width: 621px) and (max-device-width: 950px) {
  .data-wrapper {
    margin: 20px;
    background-size: 350px 180px;
    background-position: bottom right 45px;
  }
}

@media only screen and (min-device-width: 951px) and (max-device-width: 1200px) {
  .data-wrapper {
    margin: 20px;
    background-size: 550px 300px;
    background-position: bottom right 45px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  .level {
    margin: 200px 20px 0 20px;
  }

  .level-wrapper {
    position: relative;
  }

  .level__img {
    position: absolute;
    top: -230px;
    left: 50px;
    margin: 0;
    padding: 0;
  }

  .level-right {
    padding: 20px;
  }

  .level__img img {
    width: 280px;
  }

  .level {
    scroll-margin-top: 200px;
  }

  .footer-wrapper {
    padding: 30px 0 30px;
  }

  .footer-heading {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    padding: 30px 0 30px;
  }

  .footer-lists__icons {
    flex-direction: column;
  }

  .footer-button {
    flex-direction: column;
    gap: 15px;
  }

  .footer-button__left {
    position: static;
  }

  .footer-button__right {
    position: static;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .level {
    margin: 50px 20px 20px 20px;
  }

  .level__img {
    padding: 20px;
  }

  .level-right {
    padding: 20px;
  }

  .level__img img {
    width: 350px;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1250px) {
  .level {
    margin: 20px;
  }

  .level-right {
    padding-left: 50px;
  }
}

@media only screen and (min-device-width: 789px) and (max-device-width: 1200px) {
  .test-wrapper {
    margin: 20px;
  }

  .test-review__card__gap {
    margin-right: 50px;
  }

  .test-review__card {
    margin: 20px;
    max-width: 380px;
  }

  .test-name .title {
    padding: 35px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 788px) {
  .test-wrapper {
    margin: 20px;
    background-size: 300px;
  }

  .test-name {
    background-size: 300px;
  }

  .test-name .title {
    padding: 35px 0;
  }

  .test-review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .test-review__card__gap {
    margin: 0;
  }

  .test-review__card {
    margin-bottom: 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1275px) {
  .features-elements {
    grid-template-columns: 400px;
  }

  .features-header__subtitle {
    padding: 30px;
  }
}

@media only screen and (width: 768px) {
  .features-elem-wrap {
    padding-top: 150px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1200px) {
  .footer-wrapper {
    margin: 20px;
    padding-bottom: 10px;
  }

  .footer-nav {
    padding-bottom: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 880px) {
  .footer-contacts {
    padding-right: 150px;
  }

  .footer-lists__icons {
    flex-direction: column;
  }

  .footer-button__left {
    right: 200px;
  }
}