* {
    box-sizing: border-box;
}

$gold: #FFCC00;

$gray: #666666;

/* Fonts */

$font-path: "/hw13/assets/fonts";

@font-face {
    src: url("#{$font-path}/OpenSans-Bold.woff2") format("woff2");
    font-family: "OpenSans-Bold";
}

@font-face {
    src: url("#{$font-path}/raleway/Raleway-Medium.woff2") format("woff2");
    font-family: "Raleway-Medium";
}

@font-face {
    src: url("#{$font-path}/raleway/Raleway-Regular.woff2") format("woff2");
    font-family: "Raleway-Regular";
    font-weight: 500;
}

@font-face {
    src: url("#{$font-path}/Roboto-Black.woff2") format("woff2");
    font-family: "Roboto-Black";
}

/* Header */
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 121px 0 30px;
    &__title{    
        font-family: 'Raleway-Regular';
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;  
        color: #898F8F;  
    }
    &__subtitle{
        color: $gold;
        font-family: 'Roboto-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 66px;
        text-transform: uppercase;
    }
    &__divider{
        padding: 40px 0 20px;
    }
}

.sahar {
    display: flex;
    justify-content: center;
    align-items: center;
    &__divider {
        width: 85px;
        height: 560px;
        border-right: 1px solid $gold;
        margin-right: 85px; 
    };
    &__desc {
        width: 430px;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title {
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            text-transform: capitalize;
            color: $gray;
            padding-bottom: 30px;
            &::after {
                content: "";  
                display: block; 
                margin: 0 auto; 
                width: 45%; 
                padding-top: 30px; 
                border-bottom: 1px solid $gold;
            }
        }
        &-subtitle {
            font-family: 'Raleway-Regular';
            font-style: normal;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            color: $gray;
            padding-bottom: 30px;
        }
        &-icons {
            padding-bottom: 49px;
            a {
                text-decoration: none;
                svg:hover {
                    path {
                        fill: $gold;
                    }
                    circle {
                        stroke: $gold;
                    }
                }
                
            }
        }
        &-text {
            font-family: 'Raleway-Medium';
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #333333;
        }
        &-decore {
            padding: 20px 0 30px;
        }
        &-button {
            a {
                width: 118px;
                height: 24px;
                border: 1px solid $gold;
                font-family: 'Opensans-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: $gray;
                text-decoration: none;
            }
        }
        &-button:hover {
            a {
                color: white;
                background-color: $gold;
            }
        }
    }
}