* {
    box-sizing: border-box;
}

*{transition: all .1s ease-in;}

.body__border {
    display: flex;
    margin: 25px auto;
    width: 1440px;
    height: 900px;
    background-color: #2B81AC;
}

.body__main {
    margin: auto;
    width: 1390px;
    height: 850px;
    background-color: #3399CC;
}

.body__header {
    display: flex;
    align-items: center;
    margin: 30px 110px;
    color: white;
    font-family: 'Lucida Sans Unicode';
    font-size: 21px;
    line-height: 25px;
}

.wi-sunrise {
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    margin-left: 10px;
}

.main {    
    font-size: 0;
    width: 1170px;
    color: white;
    border: 2px solid white;
    font-family: 'Lucida Sans Unicode';
    background-color: #2B81AC;
    margin: auto;
}

.main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }

 li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 150px;
    border: 3px solid white;
}

li{
    cursor: url(../img/cursor.png) 2 2, pointer;
}

.blocks:not(:hover) {
    opacity: 0.8;
}

.blocks:hover {
    border: none;
}

.one-hundred {
    width: 100%;
}

.fifty {
    width: 50%;
}

.twenty-five {
    width: 25%;
}

li i {
    display: flex;
    flex-direction: row;
}

.blocks {
    display: flex;
    flex-direction: column;
}

.weath {
    margin-top: 9px;
    
}

.opac {
    opacity: 0.8;
}

li i {
    margin-left: 5px;
    font-size: 42px;
}

 ul {
    list-style-type: none;
    padding-left: 0px;
 }

 .body__footer {
    display: flex;
    align-items: center;
    margin: 30px 110px;
    color: white;
    font-family: 'Lucida Sans Unicode';
    font-size: 16px;
    line-height: 19px;
}